/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text:#FFFFFF;
  --color-text-transparency: rgba(255, 255, 255, 0.7);
  --color-text-inverted: #000000;
  --color-background: #253334;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Alegreya", serif;
  font-size: 30px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 15px;
  font-family: "Alegreya Sans", sans-serif;
}
