/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-text:#FFFFFF;
  --color-text-transparency: rgba(255, 255, 255, 0.7);
  --color-text-inverted: #000000;
  --color-background: #253334;
  --color-bg-card: #F7F3F0;
  --second-family:"Alegreya Sans", sans-serif;
  --color-card-button-hover: #202728;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: "Alegreya", serif;
  font-size: 30px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
